body{
	background: #333333;
}

#top{
	background: #333;
	min-height: 70px;
	position: fixed;
	width: 100%;
	margin-top: -70px;
	z-index: 100;
}

#top img{
	float: left;
	max-width: 200px;
}

a{
	text-decoration: none;
}

.header {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#topNav ul{
	list-style: none;
	float: left;
}

#topNav ul li{
	font-family: 'Titillium Web', sans-serif;
	padding: 0 10px;
	float: left;
}

#topNav ul li a{
    color: #c9c9c9;
    font-weight: 200;
    display: block;
    text-decoration: none;
}

#topNav ul li a:hover {
	color: #fff;
	transition: color 0.3s ease-in-out;
}

#inputs{
	float: left;
	padding-left: 155px;
}

#inputs input{
	max-width: 100px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 0.75em;
	float: left;
	margin-top: 16px;
	margin-left: 15px;
}

.btn_back{
	float: right;
	margin-top: 13px;
	margin-left: 20px;
	max-height: 30px;
	color: #fff;
	background-image: -webkit-linear-gradient(#acdbe6 0%, #23adcc 14.57%, #0e758b 100%);
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	border: 1px solid #4d4d4d;
	border-radius: 7px;
}

#inputs button{
	float: right;
	margin-top: 13px;
	margin-left: 20px;
	max-height: 30px;
	color: #fff;
	background-image: -webkit-linear-gradient(#acdbe6 0%, #23adcc 14.57%, #0e758b 100%);
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	border: 1px solid #4d4d4d;
	border-radius: 7px;
}

#inputs button:hover {
	background-image: -webkit-linear-gradient(#acdbe6 0%, #658991 14.57%, #1a7286 100%);
}
#inputs button:active  {
	background-image: -webkit-linear-gradient(#7e9195 0%, #46676f 14.57%, #1a7286 100%);
}

#greeting{
	float: left;
	font-family: 'Titillium Web', sans-serif;
	margin-left: 310px;
	margin-top: -12px;
	font-size: 1.2em;
	color: #fff;
}
#greeting span{
	color: #29abe2;
}

.btn_logout{
	float: right;
	margin-top: 13px;
	margin-left: 20px;
	max-height: 30px;
	color: #fff;
	background-image: -webkit-linear-gradient(#e6acac 0%, #cc2222 14.57%, #8c0e0e 100%);
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	border: 1px solid #4d4d4d;
	border-radius: 7px;
}
.btn_logout:hover {
	background-image: -webkit-linear-gradient(#e6acac 0%, #916666 14.57%, #871a1a 100%);
}

.btn_back:hover {
	background-image: -webkit-linear-gradient(#acdbe6 0%, #658991 14.57%, #1a7286 100%);
}
.btn_logout:active {
	background-image: -webkit-linear-gradient(#947e7e 0%, #704747 14.57%, #871a1a 100%);
}

.btn_back:active {
	background-image: -webkit-linear-gradient(#7e9195 0%, #46676f 14.57%, #1a7286 100%);
}

#middle{
	background-image: url(../img/bg.jpg) ;
	margin-top: 70px;
	height: 500px;
	width: 100%;
}
#middle_two{
	background-image: url(../img/bg2.jpg) ;
	margin-top: 70px;
	height: 500px;
	width: 100%;
}

#welcome {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	padding-top: 100px;
	text-align: center;
}

#left{
	width: 960px;
	float: left;
	padding-left: 0;
	margin-top: 0;
}

#welcome h1{
	font-family: 'Titillium Web', sans-serif;
	color: white;	
	font-size: 3.0em;
	font-weight: 200;
	width: 960px;
	text-align: center;
	text-shadow: 0px 2px 20px black;
	margin: 0;
}

#welcome h2{
	font-family: 'Titillium Web', sans-serif;
	color: #29abe2;
	font-size: 2.0em;
	font-weight: 700;
	width: 266px;
	text-align: center;
	text-shadow: 0px 1px 2px black;
	margin: 0;
}

#welcome p{
	font-family: 'Titillium Web', sans-serif;
	color: #c9c9c9;
	font-size: 1.5em;
	font-weight: 200;
	color: white;
	width: 960px;
	text-align: center;
	text-shadow: 0px 1px 0px black;
}

#welcome button{
	margin-top: 10px;
	height: 40px;
	width: 220px;
	color: #fff;
	background-image: -webkit-linear-gradient(#4f7d42 0%, #7cc45b 5.3%, #307510 100%);
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	border: 1px solid #3db809;
}
#welcome button:hover{
	background-image: -webkit-linear-gradient(#4f7d42 0%, #6a855e 5.3%, #4f8637 89.07%, #347814 100%);
}
#welcome button:active{
	background-image: -webkit-linear-gradient(#4f7d42 0%, #569539 5.3%, #307510 100%);
}

#form{
	width: 300px;
	float: right;
	margin-top: -20px;
	padding-right: 10px;
}

#forms{
	border-radius: 6px;
	width: 266px;
	height: 300px;
	padding: 10px;
	box-shadow: 0px 5px 20px black;
	background: #fff;
}

#forms input{
	width: 220px;
	height: 30px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.0em;
	font-weight: 200;
	float: left;
	margin: 12px;
	margin-left: 23px;
	border: 1px solid gray;
}

.error{
	display: none;
	color: white;
}

#bottom {
	background: #232323;
	height: 380px;
	width: 100%;
}

#bottom img{
	border: 1px solid #4b4b4b;
	margin: 20px 0;
}

.col1{
	width: 300px;
	padding: 0 10px;
	float: left;
}
.admin_col{
	width: 300px;
	padding: 0 10px;
	float: right;
}

#columns {
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#columns h2 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 2.0em;
	font-weight: 200;
	color: #29abe2; 	
	text-align: center;
}

#columns p {
	font-family: 'Titillium Web', sans-serif;
	color: #c9c9c9;
	font-weight: 200;
}

/* -------- Footer ---------- */

#footer {
	background: #333333;
	height: 250px;
	clear: both;
}

#footer_goal {
	background: #333333;
	height: 250px;
	margin-top: 150px;
}
#footer_add_user {
	background: #333333;
	height: 250px;
	margin-top: 340px;
}

#footer_goal h3{
	text-align: center;
	font-size: 1.1em;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
	margin-top: 0;
	color: #7b7b7b;
}

#footer_add_user h3{
	text-align: center;
	font-size: 1.1em;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
	margin-top: 0;
	color: #7b7b7b;
}

#footer_column {
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#footer h3{
	text-align: center;
	font-size: 1.1em;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
	margin-top: 0;
	color: #7b7b7b;
}

.social_icons{
	margin: 10px 0 0 70px;
}

.social_icons a:hover img {
	box-shadow: 0 0 20px #09a2d8;
	border-radius: 100px;
	transition: 0.3s ease-in-out;
}

.footer_logo{
	margin-top: -10px;
	margin-left: 30px;
	opacity: 0.3;
}

#bottomNav ul{
	list-style: none;
	margin-left: 65px;
	margin-top: 0;
}

#bottomNav ul li{
	font-family: 'Titillium Web', sans-serif;
}

#bottomNav ul li a{
    color: #7b7b7b;
    font-weight: 200;
    display: block;
    text-decoration: none;
}

#bottomNav h3{margin-right: 191px;}
#bottomNav h3:hover{
	color: #fff;
	transition: color 0.3s ease-in-out;
}

#bottomNav ul li a:hover {
	color: #fff;
	transition: color 0.3s ease-in-out;
}

#footer p{
	font-family: 'Titillium Web', sans-serif;
	color: #7b7b7b;
	text-align: center;
	margin-top: -7px;
}

#footer_goal p{
	font-family: 'Titillium Web', sans-serif;
	color: #7b7b7b;
	text-align: center;
	margin-top: -7px;
}

#footer_add_user p{
	font-family: 'Titillium Web', sans-serif;
	color: #7b7b7b;
	text-align: center;
	margin-top: -7px;
}

#footer p{
	font-family: 'Titillium Web', sans-serif;
	color: #7b7b7b;
	text-align: center;
	margin-top: -7px;
}



/* -------------------------- Goal Page -------------------------- */

#view_user{
	background-image: -webkit-linear-gradient(#6a6a6a 0%, #4d4d4d 45.7%, #4c4c4c 85%, #6b6b6b 98.34%);
	max-width: 960px;
	margin: 0 auto;
	width: 100%;
	height: 50px;
	box-shadow: 0 2px 20px black;
}

#view_user h3{
	font-family: 'Titillium Web', sans-serif;
	color: #29abe2;
	font-weight: 700;
	font-size: 1.2em;
	text-align: center;
	padding-top: 8px;
}

#view_photos{
	background-image: -webkit-linear-gradient(#6a6a6a 0%, #4d4d4d 45.7%, #4c4c4c 85%, #6b6b6b 98.34%);
	max-width: 960px;
	margin: 0 auto;
	width: 100%;
	height: 50px;
	box-shadow: 0 2px 20px black;
}

#view_photos h3{
	font-family: 'Titillium Web', sans-serif;
	color: #29abe2;
	font-weight: 700;
	height: 20px;
	font-size: 1.2em;
	text-align: center;
	padding-top: 8px;
}

#admin_nav {
	background-color: #333;
	max-width: 960px;
	margin: 0 auto;
	width: 100%;
	height: 50px;
	box-shadow: 0 2px 20px black;
}
#admin_nav h3{
	font-family: 'Titillium Web', sans-serif;
	color: #29abe2;
	font-weight: 700;
	font-size: 1.2em;
	margin-left: 0;
	margin-top: 0;
	padding-top: 10px;
}

#admin_nav ul{
	margin-top: 0;
}
#admin_bg {
	background-color: #444;
	max-width: 960px;;
	margin: 0 auto;
	width: 100%;
	height: 500px;
}

.goals{
	background-image: -webkit-linear-gradient(#f0f0f0 0%, #c1c1c1 17.88%, #dfdfdf 82.45%, #646464 100%);
	max-width: 960px;
	width: 100%;
	height: 100px;
	margin: 0 auto;
}

.goals h2{
	font-family: 'Titillium Web', sans-serif;
	padding-left: 15px;
	padding-top: 10px;
	float: left;
}

.goals a h2{
	font-family: 'Titillium Web', sans-serif;
	color: #000;
	padding-left: 15px;
	padding-top: 10px;
	float: left;
}
.goals a:hover h2{
	color: #29abe2;
}

.goals p {
	font-family: 'Titillium Web', sans-serif;
	padding-left: 15px;
	margin-top: -10px;
	float: left;
	clear: left;
}

.infos{
	font-family: 'Titillium Web', sans-serif;
	margin-top: -20px;
	padding-right: 150px;
	font-weight: 300;
	line-height: 1;
	text-align: right;
	float: right;
}

.drag{
	background: grey;
	width: 25px;
	height: 4px;
	float: right;
}

#btm_goal_manager{
	background-image: -webkit-linear-gradient(#6a6a6a 0%, #4d4d4d 45.7%, #4c4c4c 85%, #6b6b6b 98.34%);
	/* background-image: -webkit-linear-gradient(#6a6a6a 0%, #4d4d4d 45%); */
	max-width: 960px;
	margin: 0 auto;
	width: 100%;
	height: 50px;
	box-shadow: 0 2px 20px black;
}
#btm_goal_manager a h3{
	font-family: 'Titillium Web', sans-serif;
	color: #29abe2;
	font-weight: 700;
	font-size: 1em;
	margin-left: 15px;
	padding-top: 2px;
	margin-top: -5px;
}

/* ---------- Color Coding ---------- */
.red_coding{
	background-image: -webkit-linear-gradient(#ff7979 0%, #ff0000 77.81%, #646464 100%);
	max-width: 15px;
	width: 100%;
	height: 100px;
	float: right;
}
.yellow_coding{
	background-image: -webkit-linear-gradient(#eeeeaa 0%, #ffed24 77.81%, #646464 100%);
	max-width: 15px;
	width: 100%;
	height: 100px;
	float: right;
}
.orange_coding{
	background-image: -webkit-linear-gradient(#ffce98 0%, #ffa300 77.81%, #646464 100%);
	max-width: 15px;
	width: 100%;
	height: 100px;
	float: right;
}
.blue_coding{
	background-image: -webkit-linear-gradient(#a0d5ff 0%, #00b3ff 77.81%, #646464 100%);
	max-width: 15px;
	width: 100%;
	height: 100px;
	float: right;
}
.green_coding{
	background-image: -webkit-linear-gradient(#a9ffb3 0%, #3bda05 77.81%, #646464 100%);
	max-width: 15px;
	width: 100%;
	height: 100px;
	float: right;
}

/*--------------------- ADD GOAL PAGE ------------------------- */

#add_goal{
	background-image: -webkit-linear-gradient(#6a6a6a 0%, #4d4d4d 45.7%, #4c4c4c 85%, #6b6b6b 98.34%);
	/* background-image: -webkit-linear-gradient(#6a6a6a 0%, #4d4d4d 45%); */
	max-width: 700px;
	margin: 0 auto;
	width: 100%;
	height: 50px;
	box-shadow: 0 2px 20px black;
}

#add_goal h3{
	font-family: 'Titillium Web', sans-serif;
	color: #29abe2;
	font-weight: 700;
	font-size: 1.2em;
	margin-left: 310px;
	padding-top: 8px;
}

.add_goal_panel{
	background-image: -webkit-linear-gradient(#ffffff 0%, #bcbcbc 77.81%, #646464 100%);
	max-width: 700px;
	height: 800px;
	margin: 0 auto;
	box-shadow: 0 2px 20px black;
}

.add_goal_panel h2{
	font-family: 'Titillium Web', sans-serif;
	padding-left: 15px;
	padding-top: 10px;
	float: left;
}

.add_goal_panel p {
	font-family: 'Titillium Web', sans-serif;
	padding-left: 15px;
	margin-top: -10px;
	float: left;
	clear: left;
}

#btm_add_goal{
	background-image: -webkit-linear-gradient(#6a6a6a 0%, #4d4d4d 45.7%, #4c4c4c 85%, #6b6b6b 98.34%);
	/* background-image: -webkit-linear-gradient(#6a6a6a 0%, #4d4d4d 45%); */
	max-width: 700px;
	margin: 0 auto;
	width: 100%;
	height: 50px;
	box-shadow: 0 2px 20px black;
}
#btm_add_goal a h3{
	font-family: 'Titillium Web', sans-serif;
	color: #29abe2;
	font-weight: 700;
	font-size: 1em;
	margin-left: 15px;
	padding-top: 2px;
	margin-top: -5px;
}

#add_info {
	margin-left: 150px;
	padding-top: 25px;
}

#goalName {
	width: 400px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
}

#dateInput{
	width: 150px;
	height: 30px;
}

#add_description{
	width: 400px;
	height: 100px;
}

.goal_btn{
	margin-left: 290px;
	margin-top: 20px;
	height: 30px;
	width: 125px;
	color: #fff;
	background-image: -webkit-linear-gradient(#acdbe6 0%, #23adcc 14.57%, #0e758b 100%);
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	border: 1px solid #4d4d4d;
	border-radius: 7px;
}

.goal_btn:hover {
	box-shadow: 0 0 20px #09a2d8;
}

#add_info h3{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
}

#add_info input{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
}

/*--------------------- TASKS MANAGER ------------------------- */

#task_manager{
	background-image: -webkit-linear-gradient(#6a6a6a 0%, #4d4d4d 45.7%, #4c4c4c 85%, #6b6b6b 98.34%);
	/* background-image: -webkit-linear-gradient(#6a6a6a 0%, #4d4d4d 45%); */
	max-width: 960px;
	margin: 0 auto;
	width: 100%;
	height: 50px;
	box-shadow: 0 2px 20px black;
}

#task_manager h3{
	font-family: 'Titillium Web', sans-serif;
	color: #29abe2;
	font-weight: 700;
	font-size: 1.2em;
	margin-left: 410px;
	padding-top: 8px;
}

#active_task{
	background-image: -webkit-linear-gradient(#ffffff 0%, #bcbcbc 77.81%, #646464 100%);
	max-width: 960px;
	width: 100%;
	height: 300px;
	margin: 0 auto;
	box-shadow: 0 2px 20px black;
}

#active_task h2{
	font-family: 'Titillium Web', sans-serif;
	padding-left: 15px;
	padding-top: 10px;
	float: left;
}

#active_task p {
	font-family: 'Titillium Web', sans-serif;
	padding-left: 15px;
	margin-top: -10px;
	line-height: 1;
	float: left;
	clear: left;
}

#footer_task {
	background: #333333;
	height: 250px;
	margin-top: 300px;
}

#footer_task h3{
	text-align: center;
	font-size: 1.1em;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
	margin-top: 0;
	color: #7b7b7b;
}

#footer_task p{
	font-family: 'Titillium Web', sans-serif;
	color: #7b7b7b;
	text-align: center;
	margin-top: -7px;
}

.task_description{
	padding-top: 20px;
	margin-left: 20px;
	height: 100px;
	width: 900px;
	border-top: 1px solid #c8c5c5;
	float: left;
}




table, td, th
{
border:1px solid #333;
}
th{
background-color: #555;
font-family: 'Titillium Web', sans-serif;
font-weight: 200;
font-size: 0.8em;
text-align: left;
color:white;
}

td
{
text-align:left;
background: white;
font-family: 'Titillium Web', sans-serif;
font-weight: 200;
font-size: 0.9em;
}

table 
{
width:95%;
margin: 0 auto;
}

#view_user_table tr.alt td{
background: #999;
}
/* ======================== ALBUMS */
.albums {
position: relative;
margin: 0px auto;
padding-top: 20px;
}

.albums li {
margin: 0px;
float: left;
width: 188px;
height: 148px;
-webkit-transition: opacity 0.6s ease-in-out;
-moz-transition: opacity 0.6s ease-in-out;
-o-transition: opacity 0.6s ease-in-out;
-ms-transition: opacity 0.6s ease-in-out;
transition: opacity 0.6s ease-in-out;
}

.albums a span {
display: block;
background: rgba(113,123,161, 0.9);
font-family: 'Titillium Web', sans-serif;
color: #fff;
padding: 20px;
position: absolute;
padding-top: 0px;
bottom: 10px;
left: 10px;
width: 120px;
height: 0;
overflow: hidden;
opacity: 1;
text-align: center;
text-shadow: 1px 1px 1px #303857;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.albums a:hover span{
	height: 100px;
	opacity: 1;
}

.albums a {
display: block;
position: relative;
padding: 10px;
background: #fff;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
margin: 4px;
width: 160px;
height: 120px;
}

.albums li img {
display: block;
border: 0;
}
/* ========================  PHOTOS */


ol, ul {
list-style: none;
}

.photos {
position: relative;
margin: 0px auto;
padding-top: 20px;
}

.photos li {
margin: 0px;
float: left;
width: 188px;
height: 148px;
-webkit-transition: opacity 0.6s ease-in-out;
-moz-transition: opacity 0.6s ease-in-out;
-o-transition: opacity 0.6s ease-in-out;
-ms-transition: opacity 0.6s ease-in-out;
transition: opacity 0.6s ease-in-out;
}

.photos a span {
display: block;
background: rgba(113,123,161, 0.9);
font-style: italic;
color: #fff;
font-weight: bold;
padding: 20px;
position: absolute;
bottom: 10px;
left: 10px;
width: 120px;
height: 0;
overflow: hidden;
opacity: 0;
text-align: center;
text-shadow: 1px 1px 1px #303857;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.photos a:hover span{
	height: 80px;
	opacity: 1;
}

.photos a {
display: block;
position: relative;
padding: 10px;
background: #fff;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
margin: 4px;
width: 160px;
height: 120px;
}

.photos li img {
display: block;
border: 0;
}




/* =========== Input Form =========== */

#upload_bar {
	overflow: hidden;
	width: 960px;
	padding-top: 3px;
}

#upload_bar .add_user {
	line-height: 20px;
	height: 20px;
}

#upload_bar input[type="text"] {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #e5ebee;
	height: 23px;
	padding-left: 5px;
}

#upload_bar li {
	float: left;
	margin-right: 40px;
}

#upload_bar input[type="file"] {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #e5ebee;
	padding: 10px;
}

#upload_bar input[type="submit"] {
	padding: 4px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-left: 10px;
	background: #7ebcd1;
}

#upload_bar form * {
	border: none;
}






/*					Testing					*/
#add_info p {
	color: red;
	float: left;
	margin: 3px 0;
	padding: 0;
	width: 100%;
}


